.bg-noise {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTAwJScgaGVpZ2h0PScxMDAlJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxjaXJjbGUgY3g9JzAnIGN5PScwJyByPScxJyBmaWxsPSdibGFjaycvPjwvc3ZnPg==");
  background-repeat: repeat;
  background-size: 200px 200px;
}
